body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    box-sizing: border-box;
}

.upper-frame {
    background-color: #77869B;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column; 
}

.inner-frame{
    /* background-color: black; */
    width: 500px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative; 
}

.name-container {
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    top: -20px;
}

.portfolio-image1{
    border: 2px solid white;
    position: relative;
    top: -20px;
    margin-left: 10px;
    border-radius: 4px;
    padding: 3px;
    padding-top: 4px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.social-links {
    position: absolute;
    bottom: 5px;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    width: 100%; 
}

.social-links a {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.social-links img {
    margin-right: 5px;
}

.social-links a{
    margin: 5px 20px;
}

.next-section {
    /* text-align: center; */
    color: #333;
    height: calc(100vh - 30vh);
}

.about-me,
.personal-info,
.education,
.work-info,
.projects,
.skills-info {
    margin: 30px auto;
    background-color: #FFFEFF;
    width: 90%; 
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out; 
}

.about-me {
    width: 90%; 
    height: 90px;
}

.personal-info {
    width: 90%; 
    height: 140px;
}

.education {
    width: 90%;
    height: 130px;
}

.work-info {
    width: 90%;
    height: 140px;
}

.projects {
    width: 90%;
    height: 350px;
}

.skills-info {
    width: 90%;
    height: 110px;
}

.about-me:hover {
    width: calc(95%); 
    height: calc(100px);
}

.personal-info:hover {
    width: calc(95%);
    height: calc(150px);
}

.education:hover {
    width: calc(95%);
    height: calc(140px);
}

.work-info:hover {
    width: calc(95%);
    height: calc(150px);
}

.projects:hover {
    width: calc(95%);
    height: calc(370px);
}

.skills-info:hover {
    width: calc(95%);
    height: calc(120px);
}



.contact-bar {
    background-color: #49525F;
    color: white;
    text-align: center;
    padding: 20px;
}

.btn-design {
    color: white;
    background-color: #0255C0;
    border: none;
    border-radius: 4px;
    padding: 10px;
    transition: width 3s ease;
    text-align: left;
    position: relative;
}

.btn-design::after {
    content: '>';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0s ease, width 0s ease;
}

.btn-design:hover {
    width: calc(114px);
}

.btn-design:hover::after {
    opacity: 1;
    width: auto;
}
